//Appel de nos partials
@use "partials/colors";
@use "partials/navbar";
@use "partials/typo";
@use "partials/hero";
@use "partials/actualite";
@use "partials/banniere";
@use "partials/services";
@use "partials/don";
@use "partials/buttons";
@use "partials/temoignages";
@use "partials/team";
@use "partials/footer";
@use "partials/joindre";
@use "partials/crr";
@use "partials/newsarticle";
@use "partials/newshub"; //@use "partials/cartes";

@use "sass:color";

// Vendors de Bootstrap
@import "vendors/bootstrap/scss/mixins/banner";
@import "vendors/bootstrap/scss/functions";
@import "vendors/bootstrap/scss/variables";
@import "vendors/bootstrap/scss/variables-dark";
@import "vendors/bootstrap/scss/maps";
@import "vendors/bootstrap/scss/mixins";
@import "vendors/bootstrap/scss/utilities";
@import "vendors/bootstrap/scss/root";
@import "vendors/bootstrap/scss/reboot";
@import "vendors/bootstrap/scss/containers";
@import "vendors/bootstrap/scss/grid";
@import "vendors/bootstrap/scss/transitions";
@import "vendors/bootstrap/scss/nav";
@import "vendors/bootstrap/scss/navbar";

/*----------------------------------------------------- Fonts importées -----------------------------------------------------*/
@font-face {
  font-family: "archivo";
  src: url("./assets/font/Archivo-Regular.ttf");
}

/*----------------------------------------------------- Styles généraux -----------------------------------------------------*/
header {
  background-color: colors.$espace;
}

section {
  position: relative;
  margin: 0 auto;
  width: 70%;
}

h1,
h2,
h3 {
  font-family: "archivo";
}

.fond {
  background-color: colors.$blanc;
}

.pdp {
  .pdp-container {
    background-color: colors.$bonbon;
    padding-top: 50px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

    .pdp-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      gap: 20px;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .pdp-logo {
      margin-top: 40px;
    }
  }
}

/* 
--------------------------------------------------------------------------------------------------------Version Mobile min 375px large--------------------------------------------------------------------------------------------------------------------------------------
*/
body,
html {
  font-family: "archivo";
  background-color: colors.$alabaster;
  overflow-x: hidden;
}

.navbar {
  background-color: colors.$lime;
}

.logo__header {
  border-radius: 25%;
  width: 50px;
  height: 50px;
}

/* 
--------------------------------------------------------------------------------------------------------Version Tablette min 765px large--------------------------------------------------------------------------------------------------------------------------------------
*/
@media screen and (min-width: 765px) {
}

/* 
--------------------------------------------------------------------------------------------------------Version Pc min 1400px large--------------------------------------------------------------------------------------------------------------------------------------
*/

@media screen and (min-width: 1400px) {
  .logo__header {
    border-radius: 25%;
    width: 100px;
    height: 100px;
  }
}
