//Appel de nos partials
@use "sass:color";

$espace: #415456;
$honeyDew: #D4E1D7;
$lime: #8BBD8E;
$alabaster: #E6EAE4;
$bonbon: #97C399;
$blanc: #fff;
$lime_fonce: color.adjust($lime, $blackness: 7%);
