// Parial contenant la section Dons sur la page d'acceuil
@use "typo";
@use "colors";

/**------------------------------------------------ 375 px -------------------------------------------------------------*/
.dons {
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-align: center;
  padding: 25px 0;
  overflow: hidden;
  width: 100%;
  background-color: colors.$alabaster;

  &__titre {
    grid-column: span 4;
    margin: 20px;
    @include typo.small-title-bold;
  }

  &__text {
    text-align: center;
    @include typo.small-text;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

}

/**------------------------------------------------ 765 px -------------------------------------------------------------*/

@media screen and (min-width: 765px) {
  .dons {
    padding: 25px 0;

    &__titre {
      margin: 20px;
      @include typo.medium-title-bold;
    }

    &__text {
      @include typo.medium-text;
      
      outline: red dashed 2px;
      grid-column: 1;
    }

    &__image {
      outline: red dashed 2px;
      grid-column: span ;
      width: 100%;
      height: auto;
    }

  }
}

/**------------------------------------------------ 1400 px -------------------------------------------------------------*/
@media screen and (min-width: 1400px) {}