//Appel de nos partials
@use "colors";
@use "typo";
.hero {
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
    z-index: 0;
  }

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__content {
    position: relative;
    bottom: 20px;
    left: 20px;
    color: white;
    z-index: 1;

    &__title,
    &__text {
      @include typo.small-title-bold;
      position: absolute;
      width: 30%;
      bottom: 5vh;
      margin: 0;
    }

    &__title {
      left: 5vw;
      font-size: 40px;
    }

    &__text {
      right: 5vw;
    }
    @media (max-width: 768px) {
      &__title {
        font-size: 30px;
      }
      &__text {
        right: 8vw;
      }
    }
    @media (max-width: 375px) {
      &__title {
        font-size: 20px;
      }
      &__text {
        right: 8vw;
      }
    }
  }
}
