@mixin small-text {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
}

@mixin small-capitals-bold {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

@mixin bold {
  font-weight: bold;
}

@mixin title-bold {
  font-size: 25px;
  font-weight: bold;
}
