/wordpress/coverage/
/wordpress/wp-admin/
/wordpress/wp-includes/
/wordpress/.htacces
/wordpress/index.php
/wordpress/license.txt
/wordpress/readme.html
/wordpress/wp-activate.php
/wordpress/wp-blog-header.php
/wordpress/wp-comments-post.php
/wordpress/wp-config-sample.php
/wordpress/wp-config.php
/wordpress/wp-cron.php
/wordpress/wp-link-opml.php
/wordpress/wp-load.php
/wordpress/wp-login.php
/wordpress/wp-mail.php
/wordpress/wp-login.php
/wordpress/wp-settings.php
/wordpress/wp-signup.php
/wordpress/wp-trackback.php
/wordpress/xmlrpc.php