.hero {
  position: relative;
  width: 100vw;
  height: 80vh;
  overflow: hidden;
}
.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
  z-index: 0;
}
.hero__image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  display: block;
}
.hero__content {
  position: relative;
  bottom: 20px;
  left: 20px;
  color: white;
  z-index: 1;
}
.hero__content__title, .hero__content__text {
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  width: 30%;
  bottom: 5vh;
  margin: 0;
}
.hero__content__title {
  left: 5vw;
  font-size: 40px;
}
.hero__content__text {
  right: 5vw;
}
@media (max-width: 768px) {
  .hero__content__title {
    font-size: 30px;
  }
  .hero__content__text {
    right: 8vw;
  }
}
@media (max-width: 375px) {
  .hero__content__title {
    font-size: 20px;
  }
  .hero__content__text {
    right: 8vw;
  }
}

.actualite {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 40px;
  flex-wrap: wrap;
}
.actualite .card {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 20%;
  height: 75%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  transition: transform 0.3s;
  margin: 0 10px;
  display: flex;
  flex-direction: column;
}
.actualite .card__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}
.actualite .card__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  margin: 15px;
}
.actualite .card__title {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}
.actualite .card__text {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #555;
  flex-grow: 1;
  margin-top: 10px;
}
.actualite .card__footer {
  font-size: 12px;
  font-weight: normal;
  text-transform: uppercase;
  color: #777;
  text-align: right;
}
.actualite .card:hover {
  transform: translateY(-10px);
}
@media (max-width: 768px) {
  .actualite {
    flex-direction: column;
    align-items: flex-start;
  }
  .actualite .card {
    flex-direction: row;
    width: 90%;
    height: auto;
  }
  .actualite .card:nth-child(3) {
    display: none;
  }
  .actualite .card__image {
    width: 40%;
    height: auto;
  }
  .actualite .card__text-container {
    width: 60%;
    margin: 10px;
  }
}
@media (max-width: 375px) {
  .actualite .card {
    flex-direction: row;
    width: 100%;
    height: auto;
  }
  .actualite .card:nth-child(3) {
    display: none;
  }
  .actualite .card__image {
    width: 35%;
  }
  .actualite .card__text-container {
    width: 65%;
  }
}

@font-face {
  font-family: "archivo";
  src: url("../assets/font/Archivo-Regular.ttf");
}
header {
  background-color: #415456;
}

.fond {
  background-color: #fff;
}

.container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.search-box input[type=text] {
  border: none;
  background: none;
  z-index: 1;
  width: 25px;
  height: 25px;
  transition: all 0.25s ease-in 0.25s;
  color: transparent;
  font-size: 0.75rem;
  line-height: 25px;
}
.search-box input[type=text]:hover {
  cursor: pointer;
}
.search-box input[type=text]:hover:focus {
  cursor: text;
}
.search-box input[type=text]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}
.search-box input[type=text]:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: white;
}
.search-box input[type=text]:focus + span {
  width: 200px;
}
.search-box input[type=text]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all 0.25s ease-in;
}
.search-box input[type=text] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  top: 0;
  width: 25px;
  height: 25px;
  transition: all 0.25s ease-in 0.25s;
  border-radius: 25px;
  left: 0;
}
.search-box input[type=text] + span::before {
  transition: all 0.25s ease-in 0.5s;
  transform-origin: left top;
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: rotate(45deg) translate(26px, -2px);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

/* 
--------------------------------------------------------------------------------------------------------Version Mobile min 375px large--------------------------------------------------------------------------------------------------------------------------------------
*/
body,
html {
  font-family: "archivo";
  background-color: #8BBD8E;
  overflow-x: hidden;
}

.navbar {
  background-color: #415456;
}

footer {
  font-weight: bold;
  background-color: #415456;
  min-height: 11vh;
  font-size: 11px;
  color: white;
}

.logo_footer {
  grid-area: logo;
  height: 65px;
  width: 55px;
  margin-left: 10px;
  margin-top: 23px;
}

.lien {
  grid-area: lien;
  width: 100%;
  margin-top: 23px;
  padding: none;
}

.lien a {
  padding: 2px;
  font-size: 10px;
}

.adresse {
  grid-area: adresse;
  font-size: 8px;
  margin-top: 38px;
}

.reseaux {
  grid-area: reseaux;
  padding-right: none;
  margin-top: 35px;
}

.reseaux i {
  padding: 3px;
}

.grid_footer {
  display: grid;
  grid-template-areas: "logo lien lien" "logo adresse reseaux";
}

.services {
  position: relative;
  margin: 0 auto;
  width: 70%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 25px 0;
}

.service-titre {
  color: #000;
  grid-column: span 3;
  margin: 0 auto;
}

.service-fleche {
  position: absolute;
  right: -50px;
  top: 20px;
}

.service-no2 {
  border-right: #000 2px solid;
  border-left: #000 2px solid;
}

.service-no1 {
  font: 12px;
  text-align: center;
}
.service-no1 img {
  width: 45px;
  height: auto;
  margin: 0 auto;
}

.service-no2 {
  font: 12px;
  text-align: center;
}
.service-no2 img {
  width: 45px;
  height: auto;
  margin: 0 auto;
}

.service-no3 {
  font: 12px;
  text-align: center;
}
.service-no3 img {
  width: 45px;
  height: auto;
  margin: 0 auto;
}

.dons {
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  margin: 0 auto;
  gap: 5px;
  padding: 25px 0;
}

.dons-titre {
  grid-column: span 4;
  margin: 0 auto;
  font-weight: 800;
}

.dons-text {
  grid-column: span 2;
  width: 100%;
  text-align: center;
}

.dons-image {
  grid-column: span 2;
  width: 100%;
  height: auto;
  margin-top: 50%;
}

.dons-btn {
  align-items: center;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 3px 5px -1px, rgba(0, 0, 0, 0.14) 0 6px 10px 0, rgba(0, 0, 0, 0.12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans", Roboto, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: 0.25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1), opacity 15ms linear 30ms, transform 270ms cubic-bezier(0, 0, 0.2, 1) 0ms;
  -moz-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform, opacity;
  z-index: 0;
}

.dons-btn:hover {
  background: #F6F9FE;
  color: #174ea6;
}

.dons-btn:active {
  box-shadow: 0 4px 4px 0 rgba(60, 64, 67, 0.3), 0 8px 12px 6px rgba(60, 64, 67, 0.15);
  outline: none;
}

.dons-btn:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.dons-btn:not(:disabled) {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.dons-btn:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0 2px 3px 0, rgba(60, 64, 67, 0.15) 0 6px 10px 4px;
}

.dons-btn:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.dons-btn:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, 0.3) 0 4px 4px 0, rgba(60, 64, 67, 0.15) 0 8px 12px 6px;
}

.dons-btn:disabled {
  box-shadow: rgba(60, 64, 67, 0.3) 0 1px 3px 0, rgba(60, 64, 67, 0.15) 0 4px 8px 3px;
}

.fond-temoins {
  background-color: #E6EAE4;
}

.temoignages {
  margin: 0 auto;
  width: 100%;
  display: grid;
  gap: 20px;
}

.temoins {
  width: 100%;
  padding: 10px;
  grid-column: span 3;
  gap: 20px;
  display: grid;
  grid-template-areas: "t1 text1" "n1 text1" "t2 text2" "n2 text2" "t3 text3" "n3 text3";
}

.temoins-1 {
  grid-area: t1;
}

.temoins-2 {
  grid-area: t2;
}

.temoins-3 {
  grid-area: t3;
}

.nom {
  font-size: 12px;
}

.nom-1 {
  grid-area: n1;
}

.nom-2 {
  grid-area: n2;
}

.nom-3 {
  grid-area: n3;
}

.text-1 {
  grid-area: text1;
}

.text-2 {
  grid-area: text2;
}

.text-3 {
  grid-area: text3;
}

.temoins-titre {
  font-weight: bold;
  color: #000;
  grid-column: span 3;
  margin: 15px auto;
}

.temoins-img {
  margin-left: 10px;
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.temoins-text {
  font-size: 12px;
  font-style: italic;
}

.plus_btn {
  display: inline-block;
  padding: 5px 13px;
  background-color: #8BBD8E;
  color: black;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 0.8rem;
}

.plus_btn:hover {
  background: #8bb08d;
}

.plus_btn-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

/* 
--------------------------------------------------------------------------------------------------------Version Tablette min 765px large--------------------------------------------------------------------------------------------------------------------------------------
*/
@media screen and (min-width: 765px) {
  footer {
    min-height: 15vh;
    font-size: 15px;
  }
  .logo_footer {
    height: 80px;
    width: 70px;
    margin-left: 10px;
    margin-top: 30px;
  }
  .lien {
    width: 100%;
    margin-top: 28px;
  }
  .lien a {
    font-size: 18px;
    padding: 10px;
  }
  .adresse {
    font-size: 12px;
    margin-top: 42px;
    margin-left: 10px;
  }
  .reseaux {
    margin-top: 40px;
    margin-left: 22px;
  }
  .reseaux i {
    padding: 10px;
  }
  .services {
    padding-top: 15px;
  }
  .service-titre {
    font-size: 40px;
    font-weight: 500;
  }
  .service-no1 {
    font-size: 24px;
  }
  .service-no1 img {
    width: 10vw;
    height: auto;
  }
  .service-no2 {
    font-size: 24px;
  }
  .service-no2 img {
    width: 10vw;
    height: auto;
  }
  .service-no3 {
    font-size: 24px;
  }
  .service-no3 img {
    width: 10vw;
    height: auto;
  }
  .service-no2 {
    border-right: #000 4px solid;
    border-left: #000 4px solid;
  }
  /********* Largeur Tablette Temoignages: 765px */
  .temoins-text {
    font-size: 18px;
  }
  .nom {
    font-size: 18px;
  }
  .temoins-img {
    width: 120px;
    height: 120px;
  }
  .plus_btn {
    padding: 5px 20px;
    font-size: 1.1rem;
  }
}
/* 
--------------------------------------------------------------------------------------------------------Version Pc min 1400px large--------------------------------------------------------------------------------------------------------------------------------------
*/
@media screen and (min-width: 1400px) {
  footer {
    min-height: 19vh;
    font-size: 20px;
  }
  .logo_footer {
    height: 120px;
    width: 105px;
    margin-left: 20px;
  }
  .lien {
    width: 100%;
    margin-top: 25px;
    margin-left: -70px;
  }
  .lien a {
    font-size: 25px;
    padding: 40px;
  }
  .adresse {
    font-size: 18px;
    margin-top: 69px;
    margin-left: -32px;
  }
  .reseaux {
    margin-top: 65px;
    margin-left: 220px;
  }
  .service-titre {
    font-size: 55px;
  }
  .service-no2 {
    border-right: #000 6px solid;
    border-left: #000 6px solid;
  }
  /********* Largeur Pc Temoignages: 1400px */
  .temoins-titre {
    font-size: 40px;
  }
  .temoins-text {
    font-size: 28px;
  }
  .nom {
    font-size: 28px;
  }
  .temoins-img {
    width: 180px;
    height: 180px;
  }
  .plus_btn {
    padding: 5px 30px;
    font-size: 1.3rem;
  }
}/*# sourceMappingURL=style.css.map */