@use "partials/colors";
@use "partials/navbar";
@use "partials/typo";

@font-face {
  font-family: "archivo";
  src: url("../assets/font/Archivo-Regular.ttf");
}
//Version Mobile max 375px large
body,
html {
  font-family: "archivo";
  background-color: colors.$lime;
}

h1 {
  @include typo.bold;
  font-size: 40px;
}

h2,
h3,
h4,
h5 {
  @include typo.bold;
}

.navbar {
  background-color: colors.$espace;
}

footer {
  @include typo.bold;
  background-color: colors.$espace;
  min-height: 13vh;
  left: 0;
  bottom: 0;
  font-size: 10px;
  color: white;
}

.logo_footer {
  position: absolute;
  bottom: -490px;
  left: 10px;
  height: 55px;
  width: 45px
}

.lien {
  position: absolute;
  bottom: -445px;
  left: 60px;
}

.adresse {
  font-size: 8px;
  position: absolute;
  bottom: -507px;
  left: 60px;
}


//Version Tablette min 765px large

@media screen and (min-width: 765px){
  footer {
    min-height: 15vh;
    left: 0;
    bottom: 0;
    font-size: 15px;
  }
  
  .logo_footer {
    position: absolute;
    bottom: -375px;
    left: 10px;
    height: 75px;
    width: 65px
  }
  
  .lien {
    position: absolute;
    bottom: -320px;
    left: 90px;
  }
  
  .adresse {
    font-size: 12px;
    position: absolute;
    bottom: -394px;
    left: 90px;
  }
}


//Version Pc min 1400px large


@media screen and (min-width: 1400px){
  footer {
    min-height: 15vh;
    left: 0;
    bottom: 0;
    font-size: 15px;
  }
  
  .logo_footer {
    position: absolute;
    bottom: -335px;
    left: 10px;
    height: 75px;
    width: 65px
  }
  
  .lien {
    position: absolute;
    bottom: -280px;
    left: 90px;
  }
  
  .adresse {
    font-size: 12px;
    position: absolute;
    bottom: -355px;
    left: 90px;
  }
}