@use "partials/colors";
@use "partials/navbar";
@use "partials/typo";

@font-face {
  font-family: "archivo";
  src: url("../assets/font/Archivo-Regular.ttf");
}
//Version Mobile max 375px large
body,
html {
  font-family: "archivo";
  background-color: colors.$lime;
}

h1 {
  @include typo.bold;
  font-size: 40px;
}

h2,
h3,
h4,
h5 {
  @include typo.bold;
}

.navbar {
  background-color: colors.$espace;
}

footer {
  background-color: colors.$espace;
  min-height: 15vh;
  left: 0;
  bottom: 0;
}



//Version Tablette min 765px large

//Version Pc min 1400px large
