.hero {
  background-color: red;
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "archivo";
  src: url("../assets/font/Archivo-Regular.ttf");
}
header {
  background-color: #415456;
}

.fond {
  background-color: #fff;
}

.container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 1;
  width: 25px;
  height: 25px;
  transition: all 0.25s ease-in 0.25s;
  color: transparent;
  font-size: 0.75rem;
  line-height: 25px;
}
.search-box input[type="text"]:hover {
  cursor: pointer;
}
.search-box input[type="text"]:hover:focus {
  cursor: text;
}
.search-box input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}
.search-box input[type="text"]:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: white;
}
.search-box input[type="text"]:focus + span {
  width: 200px;
}
.search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all 0.25s ease-in;
}
.search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  top: 0;
  width: 25px;
  height: 25px;
  transition: all 0.25s ease-in 0.25s;
  border-radius: 25px;
  left: 0;
}
.search-box input[type="text"] + span::before {
  transition: all 0.25s ease-in 0.5s;
  transform-origin: left top;
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: rotate(45deg) translate(26px, -2px);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before,
*:after {
  box-sizing: inherit;
}

body,
html {
  font-family: "archivo";
  background-color: #8bbd8e;
}

.navbar {
  background-color: #415456;
}

footer {
  font-weight: bold;
  background-color: #415456;
  min-height: 13vh;
  font-size: 11px;
  color: white;
}

.logo_footer {
  grid-area: logo;
  height: 65px;
  width: 55px;
  margin-left: 10px;
  margin-top: 23px;
}

.lien {
  background-color: red;
  grid-area: lien;
  width: 100%;
  margin-top: 23px;
  padding: none;
}

.adresse {
  background-color: red;
  grid-area: adresse;
  font-size: 8px;
  margin-top: 38px;
}

.reseaux {
  grid-area: reseaux;
  background-color: blue;
  padding-right: none;
  margin-top: 35px;
}

.reseaux i {
  padding: 7px;
}

.grid_footer {
  display: grid;
  height: 100%;
  grid-template-areas: "logo lien lien" "logo adresse reseaux";
}

.services {
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service-titre {
  color: #000;
  grid-column: span 3;
  margin: 0 auto;
}

.service-fleche {
  position: relative;
  right: 0;
  top: 0;
}

.service-no1 {
  font: 12px;
}
.service-no1 img {
  width: 45px;
  height: auto;
}

.service-no2 {
  font: 12px;
}
.service-no2 img {
  width: 45px;
  height: auto;
}

.service-no3 {
  font: 12px;
}
.service-no3 img {
  width: 45px;
  height: auto;
}

@media screen and (min-width: 765px) {
  footer {
    min-height: 15vh;
    font-size: 15px;
  }
  .logo_footer {
    height: 80px;
    width: 70px;
    margin-left: 10px;
    margin-top: 25px;
  }
  .lien {
    width: 100%;
    margin-top: 23px;
  }
  .lien a {
    padding: 15px;
  }
  .adresse {
    font-size: 12px;
    margin-top: 42px;
  }
  .reseaux {
    margin-top: 40px;
    margin-left: 22px;
  }
  .services {
    padding-top: 15px;
  }
  .service-titre {
    font-size: 40px;
    font-weight: 500;
  }
  .service-no1 {
    font-size: 24px;
  }
  .service-no1 img {
    width: 10vw;
    height: auto;
  }
  .service-no2 {
    font-size: 24px;
  }
  .service-no2 img {
    width: 10vw;
    height: auto;
  }
  .service-no3 {
    font-size: 24px;
  }
  .service-no3 img {
    width: 10vw;
    height: auto;
  }
}
@media screen and (min-width: 1400px) {
  footer {
    min-height: 15vh;
    font-size: 25px;
  }
  .logo_footer {
    height: 140px;
    width: 120px;
    margin-left: 20px;
    margin-top: 40px;
  }
  .lien {
    width: 100%;
    margin-top: 23px;
    margin-left: -100px;
  }
  .lien a {
    padding: 15px;
  }
  .adresse {
    font-size: 20px;
    margin-top: 42px;
    margin-left: -100px;
  }
  .reseaux {
    margin-top: 40px;
    margin-left: 22px;
  }
  .service-titre {
    font-size: 55px;
  }
  .service-no1 {
    margin: 0 10px;
    font-size: 40px;
  }
  img {
    width: 10vw;
    height: auto;
  }
  .service-no2 {
    margin: 0 10px;
    font-size: 40px;
  }
  img {
    width: 10vw;
    height: auto;
  }
  .service-no3 {
    margin: 0 10px;
    font-size: 40px;
  }
  img {
    width: 10vw;
    height: auto;
  }
} /*# sourceMappingURL=style.css.map */
