@charset "UTF-8";
.hero {
  background-color: red;
  /* Sizing */
  width: 100vw;
  height: 100vh;
  /* Flexbox stuff */
  display: flex;
  justify-content: center;
  align-items: center;
}

.actualite {
  width: 100vw;
  height: 100vh; /* On ajuste la hauteur pour être automatique en fonction du contenu */
  display: flex;
  justify-content: center; /* Centrer les cartes horizontalement */
  align-items: center; /* Centrer les cartes verticalement si nécessaire */
  gap: 20px;
  padding: 40px;
}
.actualite .card {
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 20%; /* Ajuster la largeur des cartes */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s;
  margin: 0 10px; /* Espacement latéral supplémentaire */
}
.actualite .card__title {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 15px;
}
.actualite .card__text {
  font-size: 1rem;
  margin: 15px;
  color: #555;
}
.actualite .card__image {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px; /* Hauteur fixe pour les images */
}
.actualite .card__footer {
  margin: 15px;
  font-size: 0.9rem;
  color: #777;
  text-align: right;
}
.actualite .card:hover {
  transform: translateY(-10px);
}

@font-face {
  font-family: "archivo";
  src: url("../assets/font/Archivo-Regular.ttf");
}
header {
  background-color: #415456;
}

.fond {
  background-color: #fff;
}

.container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}

.search-box input[type=text] {
  border: none;
  background: none;
  z-index: 1;
  width: 25px;
  height: 25px;
  transition: all 0.25s ease-in 0.25s;
  color: transparent;
  font-size: 0.75rem;
  line-height: 25px;
}
.search-box input[type=text]:hover {
  cursor: pointer;
}
.search-box input[type=text]:hover:focus {
  cursor: text;
}
.search-box input[type=text]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}
.search-box input[type=text]:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  color: black;
  background: none;
  color: white;
}
.search-box input[type=text]:focus + span {
  width: 200px;
}
.search-box input[type=text]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all 0.25s ease-in;
}
.search-box input[type=text] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  top: 0;
  width: 25px;
  height: 25px;
  transition: all 0.25s ease-in 0.25s;
  border-radius: 25px;
  left: 0;
}
.search-box input[type=text] + span::before {
  transition: all 0.25s ease-in 0.5s;
  transform-origin: left top;
  content: "";
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: rotate(45deg) translate(26px, -2px);
}

html {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

* {
  box-sizing: inherit;
}
*:before, *:after {
  box-sizing: inherit;
}

body,
html {
  font-family: "archivo";
  background-color: #8BBD8E;
}

.navbar {
  background-color: #415456;
}

footer {
  font-weight: bold;
  background-color: #415456;
  min-height: 13vh;
  font-size: 11px;
  color: white;
}

.logo_footer {
  grid-area: logo;
  height: 65px;
  width: 55px;
  margin-left: 10px;
  margin-top: 23px;
}

.lien {
  background-color: red;
  grid-area: lien;
  width: 100%;
  margin-top: 23px;
  padding: none;
}

.adresse {
  background-color: red;
  grid-area: adresse;
  font-size: 8px;
  margin-top: 38px;
}

.reseaux {
  grid-area: reseaux;
  background-color: blue;
  padding-right: none;
  margin-top: 35px;
}

.reseaux i {
  padding: 7px;
}

.grid_footer {
  display: grid;
  height: 100%;
  grid-template-areas: "logo lien lien" "logo adresse reseaux";
}

.services {
  margin: 0 auto;
  width: 50%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.service-titre {
  color: #000;
  grid-column: span 3;
  margin: 0 auto;
}

.service-fleche {
  position: relative;
  right: 0;
  top: 0;
}

.service-no1 {
  font: 12px;
}
.service-no1 img {
  width: 45px;
  height: auto;
}

.service-no2 {
  font: 12px;
}
.service-no2 img {
  width: 45px;
  height: auto;
}

.service-no3 {
  font: 12px;
}
.service-no3 img {
  width: 45px;
  height: auto;
}

@media screen and (min-width: 765px) {
  footer {
    min-height: 15vh;
    font-size: 15px;
  }
  .logo_footer {
    height: 80px;
    width: 70px;
    margin-left: 10px;
    margin-top: 25px;
  }
  .lien {
    width: 100%;
    margin-top: 23px;
  }
  .lien a {
    padding: 15px;
  }
  .adresse {
    font-size: 12px;
    margin-top: 42px;
  }
  .reseaux {
    margin-top: 40px;
    margin-left: 22px;
  }
  .services {
    padding-top: 15px;
  }
  .service-titre {
    font-size: 40px;
    font-weight: 500;
  }
  .service-no1 {
    font-size: 24px;
  }
  .service-no1 img {
    width: 10vw;
    height: auto;
  }
  .service-no2 {
    font-size: 24px;
  }
  .service-no2 img {
    width: 10vw;
    height: auto;
  }
  .service-no3 {
    font-size: 24px;
  }
  .service-no3 img {
    width: 10vw;
    height: auto;
  }
}
@media screen and (min-width: 1400px) {
  footer {
    min-height: 15vh;
    font-size: 25px;
  }
  .logo_footer {
    height: 140px;
    width: 120px;
    margin-left: 20px;
    margin-top: 40px;
  }
  .lien {
    width: 100%;
    margin-top: 23px;
    margin-left: -100px;
  }
  .lien a {
    padding: 15px;
  }
  .adresse {
    font-size: 20px;
    margin-top: 42px;
    margin-left: -100px;
  }
  .reseaux {
    margin-top: 40px;
    margin-left: 22px;
  }
  .service-titre {
    font-size: 55px;
  }
  .service-no1 {
    margin: 0 10px;
    font-size: 40px;
  }
  img {
    width: 10vw;
    height: auto;
  }
  .service-no2 {
    margin: 0 10px;
    font-size: 40px;
  }
  img {
    width: 10vw;
    height: auto;
  }
  .service-no3 {
    margin: 0 10px;
    font-size: 40px;
  }
  img {
    width: 10vw;
    height: auto;
  }
}
.fond-temoins {
  background-color: #E6EAE4;
}

.temoignages {
  margin: 0 auto;
  width: 100%;
  display: grid;
  gap: 20px;
}

.temoins {
  width: 100%;
  padding: 10px;
  grid-column: span 3;
  gap: 20px;
  display: grid;
  grid-template-areas: "t1 text1" "n1 text1" "t2 text2" "n2 text2" "t3 text3" "n3 text3";
}

.temoins-1 {
  grid-area: t1;
}

.temoins-2 {
  grid-area: t2;
}

.temoins-3 {
  grid-area: t3;
}

.nom {
  font-size: 12px;
}

.nom-1 {
  grid-area: n1;
}

.nom-2 {
  grid-area: n2;
}

.nom-3 {
  grid-area: n3;
}

.text-1 {
  grid-area: text1;
}

.text-2 {
  grid-area: text2;
}

.text-3 {
  grid-area: text3;
}

.temoins-titre {
  font-weight: bold;
  color: #000;
  grid-column: span 3;
  margin: 0 auto;
}

.temoins-img {
  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.temoins-text {
  font-size: 12px;
}/*# sourceMappingURL=style.css.map */