// Parial contenant la section Actualités sur la page d'acceuil
@use "colors";
@use "buttons";
@use "typo";
@use "sass:color";

/**-------------------------------------------------------------- 375 px -------------------------------------------------------------*/
.actualite {
  width: 100vw;
  height: 100%;
  background-color: colors.$blanc;
  text-align: center;

  &__titre {
    @include typo.bold;
    padding: 20px;
  }

  &__carte {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
    margin: 20px;
    gap: 20px;
  }

  &__conteneurImg {
    width: 40%;
    height: auto;

    overflow: hidden;
    position: relative;
    display: inline-block;
  }

  &__image {
    max-width: 100%;
    position: relative;
    vertical-align: middle;
    left: 50%;
    transform: translate(-50%);
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 15px;
  }

  &__zoneTexte {
    display: flex;
    flex-direction: column;
    justify-content: space-between; // Pour que le footer soit en bas
    text-align: left;
    width: 40%;
    height: 150px;
  }

  &__titre--petit {
    @include typo.small-title-bold;
    font-size: 15px;
  }

  &__text {
    font-size: 14px;
    margin-bottom: 20px;
    overflow: hidden;
  }

  &__footer {
    align-self: flex-end;
    font-size: 8px;
  }

  &__btn {
    @include buttons.small-btn-general;
    margin-bottom: 30px;
  }
}

/**-------------------------------------------------------------- 768 px -------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  .actualite {
    padding: 15px;

    &__titre {
      margin-bottom: 30px;
    }

    &__cartes {
      display: flex;
      flex-direction: column;
    }

    &__carte {
      position: relative;
      margin: 50px;
      width: 90%;
    }

    &__image {
      height: 200px;
      width: 200px;
    }

    &__zoneTexte {
      height: 200px;
    }

    &__text {
      @include typo.medium-text;
      margin: 20px;
    }

    &__titre--petit {
      position: absolute;
      top: -30px;
      left: 20%;
      font-size: 25px;
      margin-bottom: 10px;
    }

    &__footer {
      font-size: 12px;
    }

    &__btn {
      @include buttons.medium-btn-general;
      margin-bottom: 15px;
    }
  }
}

/**-------------------------------------------------------------- 1400 px -------------------------------------------------------------*/
@media screen and (min-width: 1400px) {
  .actualite {
    padding: 30px;

    &__titre {
      font-size: 40px;
    }

    &__cartes {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    &__carte {
      display: flex;
      flex-direction: column;
      align-items: center;
      max-width: 20vw;
      height: auto;
      padding-top: 0;
      padding-left: 0;
      padding-right: 0;
      border-radius: 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Ombre légère autour de la carte
      transition: box-shadow 0.3s ease; // Animation pour un effet visuel  lors du survol
      transition: transform 0.3s ease; // Animation pour un effet de survol
    }

    &__carte:hover {
      box-shadow: 0 8px 12px rgba(0, 0, 0, 0.25);
      transform: scale(1.1);
    }

    &__conteneurImg {
      width: 100%;
      object-fit: cover;
    }

    &__image {
      width: 100%;
      object-fit: cover;
      border-radius: 15px 15px 0 0;
    }

    &__titre--petit {
      position: relative;
      top: 0;
      left: 0;
      font-size: 22px;
      text-align: center;
      flex-grow: 1;
    }

    &__zoneTexte {
      width: 100%;
      height: 250px;
      padding: 10px;
      margin: 0;
    }

    &__text {
      font-size: 20px;
      flex-grow: 1;
      overflow: hidden;
    }

    &__btn {
      @include buttons.big-btn-general;
      margin-top: 30px;
      align-self: center;
    }

    &__footer {
      align-self: flex-end; // Assure que le footer reste en bas
    }
  }
}
