//Appel de nos partials
@use "variables";
@use "sass:color";

//Style du bouton général
@mixin small-btn-general {
  margin: 0 auto;
  display: inline-block;
  padding: 5px 13px;
  background-color: variables.$lime;
  color: variables.$espace;
  border: none;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 0.8rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$espace;
    color: variables.$lime;
    text-decoration: none;
  }
}

//Style bouton CTA
@mixin small-btn-cta {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 0.8rem;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(
    45deg,
    variables.$orange,
    color.adjust(variables.$lime, $saturation: 20%)
  );
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: variables.$espace;
  font-weight: bold;

  &:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: variables.$blanc;
  }
  &:hover:after {
    content: "";
  }

  &:hover {
    background-image: linear-gradient(
      -45deg,
      variables.$orange,
      color.adjust(variables.$lime, $saturation: 20%)
    );
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    transform: scale(1.05);
  }
}

/**------------------------------------------------ 765 px -------------------------------------------------------------*/
@mixin medium-btn-general {
  margin: 0 auto;
  display: inline-block;
  padding: 6px 13px;
  background-color: variables.$lime;
  color: variables.$espace;
  border: none;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$espace;
    color: variables.$lime;
    text-decoration: none;
  }
}

//Style bouton CTA
@mixin medium-btn-cta {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 0.9rem;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(
    45deg,
    variables.$orange,
    color.adjust(variables.$lime, $saturation: 20%)
  );
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: variables.$espace;
  font-weight: bold;

  &:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: variables.$blanc;
  }
  &:hover:after {
    content: "";
  }

  &:hover {
    background-image: linear-gradient(
      -45deg,
      variables.$orange,
      color.adjust(variables.$lime, $saturation: 20%)
    );
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    transform: scale(1.05);
  }
}

/**------------------------------------------------ 1400px et + -------------------------------------------------------------*/
@mixin big-btn-general {
  margin: 0 auto;
  display: inline-block;
  padding: 10px 16px;
  background-color: variables.$lime;
  color: variables.$espace;
  border: none;
  text-decoration: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 2.2rem;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: variables.$espace;
    color: variables.$lime;
    text-decoration: none;
  }
}

//Style bouton CTA
@mixin big-btn-cta {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(
    45deg,
    variables.$orange,
    color.adjust(variables.$lime, $saturation: 20%)
  );
  padding: 0.7em 2em;
  border-radius: 65px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: variables.$espace;
  font-weight: bold;

  &:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background: variables.$blanc;
  }
  &:hover:after {
    content: "";
  }

  &:hover {
    background-image: linear-gradient(
      -45deg,
      variables.$orange,
      color.adjust(variables.$lime, $saturation: 20%)
    );
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
    transform: scale(1.05);
  }
}
