// Parial contenant la section Dons sur la page d'acceuil
@use "typo";
@use "colors";
@use "buttons";

/**------------------------------------------------ 375 px -------------------------------------------------------------*/
.dons {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__titre {
    @include typo.bold;
    padding: 20px;
    text-align: center;
    color: #333;
  }

  // Conteneur principal pour aligner le texte et l'image en ligne
  &__content {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 20px;

    // Texte à gauche
    &__text {
      flex: 1;
      display: flex;
      flex-direction: column;

      p {
        @include typo.small-text;
        margin-bottom: 1rem;
      }
    }

    // Image à droite
    &__image {
      flex: 1;
      max-width: 50%;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}

/**------------------------------------------------ 765 px -------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  .dons {
    &__titre {
      @include typo.medium-title-bold;
    }

    // Conteneur principal pour aligner le texte et l'image en ligne
    &__content {
      // Texte à gauche
      &__text {
        flex: 1;

        p {
          @include typo.medium-text;
          margin-bottom: 1rem;
        }
        button {
          transform: scale(1.15);
        }
      }
    }
  }
}
/**------------------------------------------------ 1400 px -------------------------------------------------------------*/
@media screen and (min-width: 1400px) {
  .dons {
    &__titre {
      @include typo.big-title-bold;
      font-size: 40px;
    }

    // Conteneur principal pour aligner le texte et l'image en ligne
    &__content {
      // Texte à gauche
      &__text {
        flex: 1;

        p {
          @include typo.big-text;
        }
        button {
          transform: scale(1.3);
        }
      }
    }
  }
}
