// Parial contenant la section Dons sur la page d'acceuil
@use "typo";
@use "colors";
@use "buttons";


/**------------------------------------------------ 375 px -------------------------------------------------------------*/
.dons {
  display: grid;
  grid-template-rows: auto 1fr;
  text-align: center;
  padding: 25px 0;
  overflow: hidden;
  width: 100%;
  background-color: colors.$alabaster;

  &__titre {
    grid-column: span 4;
    margin: 20px;
    @include typo.small-title-bold;
  }

  &__text {
    text-align: center;
    @include typo.small-text;
  }

  &__image {
    width: 100%;
    height: auto;
    border-radius: 50%;
  }

  &__btn {
    @include buttons.small-btn-general;
  }
}

/**------------------------------------------------ 765 px -------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  .dons {
    grid-template-rows: auto 1fr;
    grid-template-columns: auto auto;

    &__titre {
      margin: 20px;
      @include typo.medium-title-bold;
      grid-column: span 4;
    }

    &__text {
      @include typo.medium-text;
      grid-column: span 2;
      width: min-content;
      min-width: 350px;
      margin: 50% auto;
    }

    &__image {
      grid-column: span 2;
      width: 100%;
      height: auto;
      min-width: 250px;
    }

    &__btn {
      @include buttons.medium-btn-general;
    }
  }
}


/**------------------------------------------------ 1400 px -------------------------------------------------------------*/
@media screen and (min-width: 1400px) {

  .dons {
    align-items: center;
    justify-items: center;

    &__titre {
      @include typo.giant-title-bold;
    }

    &__text {
      text-align: start;
      @include typo.big-text;
      min-width: fit-content;
      width: 40vw;
      height: fit-content;
      margin: 0 5%;
    }

    &__image {

      position: relative;
      max-width: 75vw;
      height: auto;
      bottom: -5%;
      right: -7%;
    }

    &__btn {
      @include buttons.big-btn-general;
      float: left;
      width: 250px;
    }
  }
}