// Parial contenant la section newshub
@use "variables";
@use "buttons";
@use "typo";
@use "sass:color";

// Style de ma page erreur 404
.erreur {
  width: 100%;
  overflow: hidden; //pour pas que les éléments déborde de la page

  &__img {
    position: relative;
    width: 100%;
    object-fit: cover;
  }

  // mon image pancarte 404
  &__404 {
    position: absolute;
    left: 55%;
    top: 170px;
    width: 40%;
    z-index: 2;
    overflow: hidden;
  }
}

@media screen and (min-width: 490px) {
  .erreur {
  
    // mon image pancarte 404
    &__404 {
      top: 150px;
    }
  }
}

@media screen and (min-width: 768px) {
  .erreur {
  
    // mon image pancarte 404
    &__404 {
      top: 100px;
    }
  }
}

@media screen and (min-width: 1000px) {
  .erreur {
  
    // mon image pancarte 404
    &__404 {
      top: 70px;
    }
  }
}

@media screen and (min-width: 1400px) {
  .erreur {
  
    // mon image pancarte 404
    &__404 {
      top: 0;
    }
  }
}
