//Appel de nos partials
@use "colors";
@use "typo";

////////////////////// footer 

footer {
    @include typo.bold;
    background-color: colors.$lime;
    font-size: 11px;
    color: white;
  }

.footer {
  
  &__grid {
      display: grid;
      grid-template-areas:
      "logo lien lien"
      "logo adresse reseaux";
  }


  &__logo-container {
    display: block;
    grid-area: logo;
  }

  &__logo {
    height: 65px;
    width: 65px;
    margin-left: 10px;
    margin-top: 23px;
    border-radius: 25%;
  }

  &__lien {
    grid-area: lien;
    width: 100%;
    margin-top: 23px;
    padding: none;

    a {
      color: colors.$blanc;
      text-decoration: none;
    }
  }

  &__lien a {
    padding: 2px;
    font-size: 10px;
  }

  &__lien a:hover {
    color: colors.$espace; //couleur du texte
  }

  &__link {
    text-decoration: none;
  }

  &__link:hover {
    text-decoration: underline;
    color: colors.$espace; //couleur underline
  }

  &__adresse {
    grid-area: adresse;
    font-size: 8px;
    margin-top: 38px;
    color: colors.$blanc;
  }

  &__adresse:hover {
    color: colors.$espace; //couleur du texte
  }

  &__reseaux {
    grid-area: reseaux;
    padding-right: none;
    margin-top: 35px;
  }

  &__reseaux i {
    padding: 3px;
    color: colors.$blanc;
  }

  &__reseaux i:hover {
    color: colors.$espace;
  }

  &__eq-btn {
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 10px 0;
  }

  &__equipe {
    //margin-left: 70px;
    //font-size: 8px;
    text-align: center;
  }
}
  
  

  @media screen and (min-width: 765px) {
    footer {
      font-size: 15px;
    }

    .footer {

      &__logo {
        height: 80px;
        width: 80px;
        margin-top: 30px;
      }

      &__lien {
        width: 100%;
        margin-top: 28px;
      }

      &__lien a {
        font-size: 18px;
        padding: 10px;
      }

      &__adresse {
        font-size: 12px;
        margin-top: 42px;
        margin-left: 10px;
      }

      &__reseaux {
        margin-top: 40px;
        margin-left: 22px;
      }

      &__reseaux i {
        padding: 10px;
      }

      &__equipe {
        font-size: 12px;
        //margin-left: 60px;
      }
    }
  }

  @media screen and (min-width: 1400px) {
    footer {
      font-size: 15px;
    }
  
    .footer {

      &__logo {
        height: 120px;
        width: 120px;
        margin-left: 20px;
      }

      &__lien {
        width: 100%;
        margin-top: 25px;
        margin-left: -70px;
      }

      &__lien a {
        font-size: 25px;
        padding: 40px;
      }

      &__adresse {
        font-size: 18px;
        margin-top: 69px;
        margin-left: -32px;
      }

      &__reseaux {
        margin-top: 65px;
        margin-left: 220px;
      }

      &__reseaux i {
        font-size: 25px;
        padding: 10px;
      }

      &__equipe {
        //margin-left: -20px;
        font-size: 16px;
      }
  }
}  