//Styles pour la page joindre.html

@use "colors";
@use "buttons";
@use "typo";


/**-------------------------------------------------------------- 375 px -------------------------------------------------------------*/
// textes d'introduction a la page

i{
    margin-right: 3rem; 
}
.joindre-gauche {
    &__base {
        @include typo.small-capitals-bold;
        width: 70%;
        text-align: center;
        margin: 5% auto;

        &__h1 {
            @include typo.small-title-bold;
        }
    }
}

.joindre-informations {
    display: none;
}

.joindre-formulaire {
    text-align: center;
    width: auto;
    height: auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    background-color: colors.$blanc;
    border-radius: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 5%;
    margin: 15% 10%;

    &__titre {
        @include typo.small-title-bold;
        width: 70%;
        margin: 0 auto;
    }

    &__form {
        @include typo.small-title-bold;
        width: 100%;
        margin: 0 auto;
    }

    &__nom,
    &__email,
    &__message {
        width: 70%;
        margin: 2% auto;
        border-radius: 5%;
    }

    &__btn {
        @include buttons.small-btn-general;
        margin-bottom: 5%;
    }
}

/**-------------------------------------------------------------- 765 px -------------------------------------------------------------*/
@media screen and (min-width: 765px) {
    .joindre-gauche {
        &__base {
            @include typo.medium-capitals-bold;

            &__h1 {
                @include typo.big-capitals-bold;
            }
        }
    }

    .joindre-formulaire {
        &__titre {
            @include typo.medium-title-bold;
            margin-bottom: 5%;
        }

        &__form {
            @include typo.medium-title-bold;
        }

        &__btn {
            @include buttons.medium-btn-general;
            margin-bottom: 10%;
        }
    }
}

/**-------------------------------------------------------------- 1400 px -------------------------------------------------------------*/
@media screen and (min-width: 1400px) {

    .page-joindre{
        display: flex;
    }

    .joindre-gauche {
        width: 50%;
        display: grid;
    }

    .joindre-informations {
        display: inline;
        margin: 0 auto;
        width: 70%;
       
        &__contact {
            display: grid;
        }

        &__contact h1{
            margin: 5% auto;
            @include typo.medium-title-bold;
        }
    }

    .joindre-droit {
        width: 50%;
        outline: dashed 2px red;

        &__base {
            @include typo.medium-capitals-bold;

            &__h1 {
                @include typo.medium-title-bold;
            }
        }
    }

    .joindre-formulaire {
        &__titre {
            @include typo.medium-title-bold;
        }

        &__form {
            @include typo.medium-title-bold;
        }

        &__btn {
            @include buttons.medium-btn-general;
        }
    }

}