// Appel de nos partials
@use "typo";
@use "colors";

/*----------------------------------------------------- Barre de recherche -----------------------------------------------------*/
.navbar a{  //met la couleur en blanc des fonts
  color: colors.$blanc !important;
}
.megamenu { 
  position: static;
  z-index: 9999999; //je veux VRAIMENT qu'il soit au-dessus des autres éléments aka le hero
}

.megamenu .dropdown-menu {
  background: none;
  border: none;
  width: 100%;
  z-index: 9999999;  //le drop-down est au-dessus des autres éléments aka le hero
}

.text-uppercase {
  letter-spacing: 0.08em;
  z-index: 9999999;  //les liens est au-dessus des autres éléments aka le hero
}

.navbar a:hover {
  color: colors.$espace !important; //lorsque tu hover change la couleur de la font
}

//placer le logo un peu excentré des bords
.logo_nav {
  width: 90px;
  height: auto;
  margin-left: 1vw;
  padding: 0;
  border-radius: 10%;
}

.navbar {
  background-color: colors.$lime;

  &__search {
    border: black 2px solid;
    border-radius: 5px;
  }

  &__dropmenuCouleur {
    background-color: colors.$lime;
  }

  &__icon {
    @include typo.medium-text;
  }

  &-toggler {
    margin-right: 2%;
  }
}

.navbar-collapse {
  padding-left: 5%;
}

/**-------------------------------------------------------------- 1000- px -------------------------------------------------------------*/

@media (max-width: 1000px) {
  .navbar {
    &__menu {
      display: none; /* Masqué par défaut */
      flex-direction: column;
      width: 100%;
      background-color: colors.$lime;
      position: absolute;
      top: 55px;
      left: 0;
      text-align: center;
      padding-left: 20px;

      &.active {
        display: flex; /* Affiche le menu lorsque la classe active est ajoutée */
        z-index: 9999999;
      }
    }

    &__toggle {
      display: flex; /* Affiche le bouton hamburger */
    }

    &__menu li {
      padding: 10px 0;
    }
  }
}
/**-------------------------------------------------------------- 1001+ px -------------------------------------------------------------*/
@media (min-width: 1001px) {
  .navbar {
    &__menu {
      right: 0;
    }
  }

  #Nouvelles,
  #Services,
  #Équipes,
  #FAQ,
  #Nousjoindre,
  #Àpropos,
  #navbar__icon {
    @include typo.medium-text;
  }
}
