// Appel de nos partials
@use "typo";
@use "colors";

/*----------------------------------------------------- Barre de recherche -----------------------------------------------------*/
.navbar {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: colors.$lime;

  &__logo img {
    height: 5vw;
    min-height: 40px;
    margin-left: 5vw;
  }

  &__menu {
    position: relative;
    right: 5%;
    width: min-content;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    gap: 0 5vw;
    margin: 0;

    li:hover .navbar__submenu {
      display: block; // Assurez-vous que la sous-liste s'affiche lors du survol
    }
  }

  &__submenu {
    display: none;
    position: absolute;
    top: 100%;
    background-color: colors.$lime;
    list-style-type: none;
    padding: 0;
    margin: 0;
    z-index: 9999999999;


    li a {
      color: #fff;
      text-decoration: none;
      padding: 10px 15px;
      display: block;

      &:hover {
        background-color: #444;
      }
    }
  }

  &__search {
    position: relative;
    margin-right: 5%;

    input[type="search"] {
      padding-left: 30px;
      width: min-content;
      border-radius: 102px;
    }

    .navbar__loupe {
      position: absolute;
      left: 10px;
      top: 50%;
      transform: translateY(-50%);
      color: #aaa;
    }
  }

  &__toggle {
    margin-right: 5vw;
    display: none;
    flex-direction: column;
    cursor: pointer;

    .navbar__bar {
      width: 25px;
      height: 3px;
      background-color: #fff;
      margin: 4px 0;
      transition: 0.3s;
    }
  }

  &__icon {
    @include typo.medium-text;
  }
}

/* Media queries */
@media (max-width: 1000px) {
  .navbar {
    &__menu {
      display: none; /* Masqué par défaut */
      flex-direction: column;
      width: 100%;
      background-color: colors.$lime;
      position: absolute;
      top: 55px;
      left: 0;
      text-align: center;
      padding-left: 20px;

      &.active {
        display: flex; /* Affiche le menu lorsque la classe active est ajoutée */
        z-index: 9999999;
      }
    }

    &__toggle {
      display: flex; /* Affiche le bouton hamburger */
    }

    &__menu li {
      padding: 10px 0;
    }
  }
}

@media (min-width: 1000px) {
  .navbar {
    &__menu {
      right: 0;
    }
    &__submenu {
   @include typo.big-text;
  }
  }

  #Nouvelles,
  #Services,
  #Équipes,
  #FAQ,
  #Nousjoindre,
  #Àpropos,
  #navbar__icon {
    @include typo.medium-text;
  }
  
}
