// Parial contenant la section newshub
@use "colors";
@use "buttons";
@use "typo";
@use "sass:color";

.newsBody {
  background-color: colors.$alabaster;
}
.news__filter {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.news__filter label {
  margin-right: 10px;
  margin-top: 5px;
  font-weight: bold;
}

#sort-date {
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 15px;
}

/**-------------------------------------------------------------- 375 px -------------------------------------------------------------*/

.newshub-premiere {
  width: 100vw;
  height: 50vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  &:hover {
    .premiere__image {
      transform: scale(1.1); // Agrandit l'image au survol
    }

    .premiere__overlay {
      opacity: 0.5; // Augmente l'opacité du voile noir au survol
    }
  }
}

.premiere {
  position: relative;
  width: 100%;
  height: 100%;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: black;
    z-index: 1; // Place l'image en dessous du texte
    transition: transform 0.5s ease; // Animation fluide de zoom
  }

  &__titre,
  &__texte,
  &__date {
    position: relative;
    z-index: 3; // Le texte doit être au-dessus  de l'image
  }

  &__titre {
    @include typo.small-title-bold;
  }

  &__texte {
    @include typo.small-text;
  }

  &__date {
    @include typo.small-text;
  }

  &__bouton {
    @include buttons.small-btn-general;
    z-index: 3;
    text-decoration: none; // Enlève le soulignement du texte

    &:hover {
      text-decoration: none; // Enlève le soulignement du texte
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: black;
    z-index: 2;
    opacity: 0.2;
    transition: opacity 0.5s ease;
  }
}

.newshub {
  width: 100vw;
  padding: 20px;
  text-align: left;
  background-color: colors.$honeyDew;
  position: relative;

  .news {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 2rem;
    border-radius: 15px;
    padding: 2rem;
    gap: 15px; // Espacement entre les éléments de la colonne
    background-color: colors.$blanc;

    &__categorie {
      margin-bottom: 10px;
      @include buttons.small-btn-general;
      margin: 0;
      align-self: flex-start;

      &--article {
        background-color: #ff922c;
      }
      &--comite {
        background-color: colors.$honeyDew;
      }
      &--autre {
        background-color: #5bcfc3;
      }
      &--finance {
        background-color: colors.$lime;
      }
    }

    &__titre {
      @include typo.small-title-bold;
      font-size: 1.2rem;
      margin-bottom: 10px;
      align-self: flex-start;
    }

    &__date {
      font-size: 0.8rem;
      margin-bottom: 15px;
      align-self: flex-start;
    }

    &__image {
      width: 100%;
      max-width: 100vw; // Taille maximale pour le conteneur de l'image
      height: 250px; // Hauteur fixe du conteneur de l'image
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover; // Remplit le conteneur sans déformation
        border-radius: 8px;
      }
    }
  }
}
.espaceBouton {
  width: 100vw;
  height: 10vh;
  background-color: colors.$honeyDew;
  position: relative;
}
.voirPlus {
  @include buttons.small-btn-general;
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translateX(-50%);
}

/**-------------------------------------------------------------- 768 px -------------------------------------------------------------*/

@media screen and (min-width: 768px) {
  .premiere {
    &__titre,
    &__texte,
    &__date {
      position: relative;
      z-index: 3; // Le texte doit être au-dessus  de l'image
    }

    &__titre {
      @include typo.medium-title-bold;
    }

    &__texte {
      @include typo.medium-text;
    }

    &__date {
      @include typo.medium-text;
    }

    &__bouton {
      @include buttons.medium-btn-general;
      z-index: 3;
    }
  }

  .newshub {
    width: 100vw;
    padding: 20px;

    .news {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      border-radius: 15px;
      gap: 15px; // Espacement entre les éléments de la colonne
      text-align: center;

      &__categorie {
        margin-bottom: 10px;

        &--article {
          background-color: #ff922c;
        }
        &--comite {
          background-color: colors.$honeyDew;
        }
        &--droit {
          background-color: #5bcfc3;
        }
        &--finance {
          background-color: colors.$lime;
        }
      }

      &__titre {
        @include typo.bold;
        font-size: 1.5rem;
        margin-bottom: 10px;
      }

      &__date {
        font-size: 1rem;
        margin-bottom: 15px;
      }

      &__image {
        width: 100%;
        height: 400px; // Hauteur fixe du conteneur de l'image
      }
    }
  }
  .voirPlus {
    @include buttons.medium-btn-general;
  }
  .espaceBouton {
    height: 12vh;
  }
}

/**-------------------------------------------------------------- 1400 px -------------------------------------------------------------*/

@media screen and (min-width: 1400px) {
  .newshub-premiere {
    height: 70vh;
  }
  .premiere {
    &__titre {
      @include typo.big-title-bold;
    }

    &__texte {
      @include typo.medium-text;
    }

    &__date {
      @include typo.small-text;
    }

    &__bouton {
      @include buttons.big-btn-general;
      z-index: 3;
    }
  }

  .newshub {
    .news {
      display: grid;
      grid-template-columns: 1fr 1fr; // Deux colonnes
      grid-template-rows: auto auto auto; // Trois lignes pour la colonne de gauche
      align-items: start;
      text-align: left;
      margin-bottom: 2rem;
      padding: 20px;
      border-radius: 15px;
      transition: box-shadow 0.3s ease, transform 0.3s ease;

      &:hover {
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Ombre portée */
        transform: translateY(-5px); /* Légère élévation */
        border: 2px solid colors.$lime;
      }

      &__categorie {
        grid-column: 1 / 2; // Colonne de gauche
        grid-row: 1 / 2; // Ligne 1
        font-size: 1.2rem;
        align-self: left;
        width: 20%;
      }

      &__titre {
        grid-column: 1 / 2; // Colonne de gauche
        grid-row: 2 / 3; // Ligne 2
        font-size: 2rem;
        margin-bottom: 15px;
        align-self: left;
      }

      &__date {
        grid-column: 1 / 2; // Colonne de gauche
        grid-row: 3 / 4; // Ligne 3
        font-size: 1.1rem;
        align-self: end;
        margin-bottom: 0;
      }

      &__image {
        grid-column: 2 / 3; // Prend toute la colonne de droite
        grid-row: 1 / 4; // S'étend sur les trois lignes
        width: 100%;
        height: 400px;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 8px;
        }
      }
    }
  }
  .voirPlus {
    @include buttons.big-btn-general;
  }
  .espaceBouton {
    height: 15vh;
  }
}
