// Parial contenant la section Services sur la page d'acceuil
@use "variables";
@use "buttons";
@use "typo";

$servicesNumero: no1, no2, no3;

/**-------------------------------------------------------------- 375 px -------------------------------------------------------------*/
/*-------------------- index.html -- Services*/
.services {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 50px 0;
  justify-items: center;
  align-items: center;
  text-align: center;

  &__titre {
    color: #000;
    grid-column: span 3;
    margin: 0 auto;
    @include typo.small-title-bold;
  }

  &__no2 {
    border: 0 solid #000;
    border-width: 0 2px;
    padding: 20px;
  }

  p {
    @include typo.small-text;
  }

  @each $service in $servicesNumero {
    &__#{$service} {
      img {
        width: 100%;
        min-width: 65px;
      }
    }
  }
}

/*-------------------- page-service.html -------------------- */

.service-hero {
  width: 100%;
  height: auto;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: relative;

  &__img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  &__titre {
    width: 75%;
    position: absolute;
    bottom: 5%;
    left: 5%;
    @include typo.medium-title-bold;
    z-index: 5;
    color: variables.$blanc;
  }
}

.page-service {
  color: white;
  text-align: center;
  width: 100%;
  position: relative;

  &__assos{
    width: 100%;
    height: auto;
    background-size: contain;
    position: relative;
    background-repeat: no-repeat;
    display: block;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      margin: 0 auto;
      background: linear-gradient(
        to top,
        rgba(0, 0, 0, 0.5) 100%,
        rgba(0, 0, 0, 0.5) 100%
      );
      z-index: 1;
    }
  }

  &__image {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: relative;
    display: block;
    margin: 0 auto;
  }

  &__titre {
    @include typo.small-title-bold;
  }

  &__nom {
    @include typo.bold;
    margin: auto 0;
    top: 15px;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 123;
  }

  &__texte,  &__texte > p {
    @include typo.mini-text;
    position: absolute;
    top: 40%;
    margin: auto 10%;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1234;
  }

  &__btn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 3;
    @include buttons.small-btn-general;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2%;
  }
}

/**-------------------------------------------------------------- 765 px -------------------------------------------------------------*/
@media screen and (min-width: 768px) {
  // Adaptation pour les écrans moyens
  .services {
    &__titre {
      @include typo.medium-title-bold;
    }

    p {
      @include typo.medium-text;
    }

    &__no2 {
      border: 0 solid #000;
      border-width: 0 3px;
      padding: 37px;
    }

    @each $service in $servicesNumero {
      &__#{$service} {
        img {
          min-width: 165px;
        }
      }
    }
  }
  // Adaptation pour l'élément "service-hero" sur des écrans plus larges
  .service-hero {
    &__titre {
      @include typo.big-title-bold;
    }
  }
  // Adaptation pour la page de service sur des écrans plus larges
  .page-service {
    width: 100%;

    &__titre {
      @include typo.medium-title-bold;
    }

    &__nom {
      @include typo.medium-title-bold;
    }

    &__texte {
      @include typo.medium-text;
      top: 35%;
    }

    &__btn {
      @include buttons.small-btn-general;
    }
  }
}

/**-------------------------------------------------------------- 1400 px -------------------------------------------------------------*/
@media screen and (min-width: 1400px) {
  // Adaptation pour les écrans très larges (plus de 1400px)
  .services {
    gap: 45px;

    &__titre {
      font-size: 40px;
      @include typo.bold;
    }

    &__no2 {
      border: 0 solid #000;
      border-width: 0 5px;
      padding: 45px;
    }

    p {
      @include typo.big-text;
    }

    @each $service in $servicesNumero {
      &__#{$service} {
        img {
          width: 100%;
          min-width: 265px;
        }
      }
    }
  }
  // Adaptation pour l'élément "service-hero" sur des écrans très larges
  .service-hero {
    &__titre {
      @include typo.giant-title-bold;
    }
  }
  // Adaptation pour la page de service sur des écrans très larges
  .page-service {
    width: 100%;

    &__assos{
      width: 70%;
      height: 85%;
      margin: 15% auto;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.25) 100%,
          rgba(0, 0, 0, 0.25) 100%
        );
        z-index: 1;
        opacity: 0;
        transition: opacity 0.3s;
      }

      &:hover::before {
        opacity: 1;
      }
    }

    &__titre {
      @include typo.big-title-bold;
    }

    &__nom {
      @include typo.big-title-bold;
    }

    &__texte {
      @include typo.big-text;
      top: 25%;
    }

    &__btn {
      @include buttons.big-btn-general;
    }
  }
}
