//Appel de nos partials
@use "sass:color";

$espace: #415456;
$honeyDew: #d4e1d7;
$lime: #8bbd8e;
$alabaster: #e6eae4;
$bonbon: #97c399;
$blanc: #ffffff;
$orange: #ff922c;
$lime_fonce: color.adjust($lime, $blackness: 7%);
$bonbon_pale: color.adjust($bonbon, $whiteness: 15%);
